SUPABASE_URL=https://vpmbiscioxkfauoesyqg.supabase.co
SUPABASE_SERVICE_KEY=sb_publishable_54eFG9h9g_cXQgvGxSYe-A_DBOKZl7_
DISCORD_BOT_TOKEN=MTUxMDcwMzg5MTExMTczOTQyMg.GIT84M.7GkOSgXMYJKzCmyjSKC09pCIXJ7R-_wr9suxYQ
DISCORD_CLIENT_ID=1510703891111739422
MASTER_SECRET=Xk9#mP2$vL5nQ8wR3tY7uH4jB1cD6eA0
ADMIN_SECRET=Zp4@kW7xN2mV9rJ6tF3hC8bG5dE1yL0s
PORT=3000
